<!DOCTYPE html>
<html>
<head>
    <title><%= title %> | 狸木匠</title>
    <meta charset="utf-8"/>
    <meta name="keywords"
          content="<%= title %>,<%= keyword %>,程序员,健康,狸木匠,健行">
    <meta name="description"
          content="<%= desc %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="theme-color" content="#000000">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
    <link rel="manifest" href="/manifest.json">
    <meta property="og:title" content="<%= title %>"/>
    <meta property="og:description" content="<%= desc %>"/>
    <meta property="og:image" content="/images/logo/logo_375x375.jpg"/>
    <meta property="og:type" content="item"/>
    <meta property="og:site_name" content="limujiang"/>
    <% include article_style.ejs %>

</head>
<body>
<div class="main">
    <% include header.ejs %>
</div>

<div class="markdown-here-wrapper" style="max-width: 600px;margin: 0px auto;padding: 10px;">
    <h1 class="article_h1"><%= title %></h1>
<%- body %>
</div>

<div class="article_extend">
    <p style="text-align: center;font-size: 12px;">◆</p>
    <p style="text-align: center;">狸木匠，关注程序员健康</p>
    <p style="text-align: center;">网站：<a href="http://www.limujiang.cc" target="_self" style="text-decoration: none;">www.limujiang.cc</a>
        <span style="margin-left: 16px;">微博：<a href="http://weibo.com/limujiang10" target="_blank" style="text-decoration: none;">@狸木匠</a></span></p>
    <p style="text-align: center;"><a target="_blank" href="https://weidian.com/?userid=318291100" style="text-decoration: none;">点击进入狸木匠店铺查看好物</a></p>
    <p style="text-align: center">
        <img style="width: 300px;" src="/images/pub/qrcoe_title.jpg"/>
    </p>

</div>

<% include baidu.ejs %>
</body>
</html>
