<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8"/>
    <meta name="keywords"
          content="<%= title %>,程序员,健康,狸木匠,木头">
    <meta name="description"
          content="<%= desc %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="theme-color" content="#000000">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
    <link rel="manifest" href="/manifest.json">
    <meta property="og:title" content="<%= title %>"/>
    <meta property="og:description" content="<%= desc %>"/>
    <meta property="og:image" content="/images/logo/logo_375x375.jpg"/>
    <meta property="og:type" content="item"/>
    <meta property="og:site_name" content="limujiang"/>

    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">

    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/article.css">
</head>
<body>
<div style="width: 100%;height: 80px;">
        <a href="/">
            <img style="width: 40px;position: absolute;left: 50%;top: 10px;margin-left: -40px;" src="/images/logo/limujiang.png"/>
        </a>
</div>
<%- body %>
<% include baidu.ejs %>
</body>
</html>
